<!DOCTYPE html>
<html>
<head>
    <title>Airport Around The World</title>
</head>
<body>
    <header>
        <h1 id="titulo">Airport Around The World</h1>
    </header>
    <div>
        <p>Conectando el Mundo, un Aeropuerto a la Vez.</p>
    </div>
    <section>
        <article class="post">
            <p>Descubre el fascinante universo de los aeropuertos con nosotros. Desde las pistas de despegue hasta las puertas de embarque, nuestra página te sumerge en el emocionante viaje de la aviación. Explora destinos, sigue el rastro de vuelos en tiempo real y conoce los secretos detrás de los aeropuertos que hacen posible el milagro de la conexión global. Únete a nosotros mientras elevamos tu experiencia aérea a nuevas alturas. ¡Bienvenido a la puerta de entrada al mundo!
            </p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <a href="#titulo">Ir al comienzo</a>
        <a href="mailto:gabi@gmail.com">Contáctame aquí</a>
        <p>Copyright2023</p>
    </footer>
</body>
</html>